---
name: Pull Request Labels

on:
  pull_request_target:
    branches:
      - develop
    types:
      - opened
      - synchronize
      - reopened
      - edited
      - ready_for_review

jobs:
  labeler:
    name: Labeler
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write
    steps:
      - name: Apply Labels
        uses: actions/labeler@634933edcd8ababfe52f92936142cc22ac488b1b # v6.0.1
        with:
          configuration-path: .github/labeler-pull-requests.yml
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
